{% extends "base.html" %}

{% block content %}

<h1>Log In</h1>
<p class="error">{{ login_error }}</p>
<form action="/login" method="post">

     <label for="username"> Username: </label>
            
                <input name="username" type="text" value="{{ username }}"><br>
                
            
                <label for="password"> Password: </label>
                <input name="password" type="password"><br>
                
        
    <input type="submit" value="Login">
</form>
<p>Don't have an account? <a href= '/signup'>Create one!</a></p>

{% endblock %}
